@keyframes efectoUno {
    0% {
        background-color: green;
    }
    25% {
        background-color: blue;
    }
    50% {
        background-color: red;
    }
    75% {
        background-color: yellow;
    }
    100% {
        background-color: aqua;
    }
}