.cuerpo {
    display: grid;
    grid-template-areas:
    "header header header"
    "aside aside aside"
    "section section section"
    "footer footer footer";
    grid-template-rows: 1fr 30px 4fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    height: 100vh;
    row-gap: 04px;
    column-gap: 04px;

}

.cuerpoPagina {
    display: grid;
    grid-template-areas:
    "header header header"
    "aside aside aside"
    "main main main"
    "footer footer footer";
    grid-template-rows: 1fr 30px 4fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    height: 100vh;
    row-gap: 04px;
    column-gap: 04px;
}

.productosPagina {
    display: flex;
    align-items:center;
    
}


.cabecera {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(224, 147, 231);
    grid-area: header;

}

.cabecera_links {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-image: linear-gradient(rgb(224, 147, 231),violet, rgb(58, 34, 58));
    list-style: none;
    font-family: impact;
    border-radius:10px;

}

ul li a {
    display: flex;
    color: white;
    width: 100px;
    padding: 10px;
}


.aside {
    display: flex;
    flex-direction: row;
    grid-area: aside;
    justify-content: space-around;
    font-style:oblique;
    align-items: center;
    animation-name: efectoUno;
    animation-iteration-count: infinite;
    animation-duration:10s;
    font-size: 10px;
    
}

.cabeceraDos {
    display: flex;
    flex-direction: row;
    background-color: rgb(224, 147, 231);
    font-style: oblique;
    grid-area: section;

}


.cabeceraDos img {
    transition: all 0.3s;

}

.cabeceraDos img:hover {
    width: 1000px;
}


.pieDePagina_links {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(to bottom, rgb(224, 147, 231), violet,rgb(126, 66, 126),rgb(58, 34, 58));
    list-style: none;
    font-style:inherit;
    grid-area: footer;

}

footer li a {
    color: white;

}


.imglogo {
    border-radius:150px;
    border:01px solid rgb(83, 45, 83);
    width: 90px;
}



.formulario{
    background-color: blueviolet;
    color: white;
    font-style: oblique;
}

.formulario button{
    border: none;
    padding:10px;
    background-color: white;
    border-radius: 03px;
    border-bottom: 03px solid, blue;
    cursor: pointer;
    transition: 1.5s;

}

.formulario button:hover {
padding: 15px;

}

.foot {
    color: white;
    background-color: mediumslateblue;
    font-style: oblique;
}


.envio {
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: padding 0.5s;

}

.envio:hover{
    padding: 15px;



}

@media screen and (max-widht:480px) {
    .cuerpo {
    grid-template-areas:
    "header"
    "aside"
    "section"
    "section"
    "footer";
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    grid-template-columns: 1fr;
    height: 100vh;
    row-gap: 0px;
    column-gap: 0px;
    }

    .cuerpoPagina {
        grid-template-areas:
        "header"
        "aside"
        "main"
        "main"
        "footer";
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
        grid-template-columns: 1fr;
        row-gap: 0px;
        column-gap: 0px;
    }
}

@keyframes efectoUno {
    0% {
        background-color: green;
    }
    25% {
        background-color: blue;
    }
    50% {
        background-color: red;
    }
    75% {
        background-color: yellow;
    }
    100% {
        background-color: aqua;
    }

}